.btn__hover {
  position: relative;
  // -moz-outline-radius: 0.5rem;
  // outline: white solid 2px;

  &::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 0.4rem;
    opacity: 0;
  }
  &:hover::before {
    animation: button 1s;
    transform: scale(1);
  }
}

@keyframes button {
  0% {
    transform: scale(1);
    opacity: 1;
    border: 2px solid white;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    border: 4px solid white;
  }
}

@keyframes close {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.btn-close {
  cursor: pointer;

  & > div {
    background-color: rgb(80, 80, 80);
  }

  &:hover > div {
    background-color: rgba(255, 255, 255, 1);
  }

  &::before {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid white;
    border-radius: 9999rem;
    opacity: 0;
  }

  &:hover::before {
    animation: close 1s;
    transform: scale(1.5);
  }
}

.btn-proj {
  background: linear-gradient(
        -45deg,
        rgb(250, 0, 0) 40%,
        rgb(1, 255, 115) 0 60%,
        black 0
      )
      right/300% 100% no-repeat,
    linear-gradient(
        -45deg,
        transparent 40%,
        rgb(255, 0, 0) 0 60%,
        transparent 0
      )
      right/300% 100% no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
}
.btn-proj :hover {
  background-position: left;
  transition: 0.8s;
}

.fancy-6 {
  background: linear-gradient(45deg, #00e0ee 50%, transparent 0) right / 255%
      100% no-repeat,
    linear-gradient(45deg, transparent 50%, #00e0ee 0) left / 255% 100%
      no-repeat;
  transition: 0.5s;
  cursor: pointer;
}
.fancy-6:hover {
  background-position: center;
  color: rgb(0, 0, 0);
}
