.my-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem /* 32px */;
  padding-left: 2rem /* 32px */;
}

@media (min-width: 640px) {
  .my-container {
    max-width: 790px;
  }
}

@media (min-width: 768px) {
  .my-container {
    max-width: 918px;
  }
}

@media (min-width: 1024px) {
  .my-container {
    max-width: 1174px;
  }
}

@media (min-width: 1280px) {
  .my-container {
    max-width: 1430px;
  }
}

@media (min-width: 1536px) {
  .my-container {
    max-width: 1686px;
  }
}
