body {
  &::-webkit-scrollbar {
    width: 1.25rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #e5e5e5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: black;
    border-left: 7px solid #e5e5e5;
    border-right: 7px solid #e5e5e5;
    border-top: 1.25rem solid #e5e5e5;
    border-bottom: 1.25rem solid #e5e5e5;
  }
}

.scroller {
  &::-webkit-scrollbar {
    width: 0.4rem;
  }

  &::-webkit-scrollbar-track {
    background-color: rgba(31, 41, 55);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(107, 114, 128);
  }
}
